Chapter 20: Multivariate Numerical Analysis

Broken down:
    
    Multivariate: Choosing from multiple variables all at once to create a model to explain one particular column (ex. which of the other variables help predict price?)
    Numerical: Working specifically with numerical variables
    Analysis: Choosing the best model with the variables that best predict a particular column

NOTE: Variable, Feature, and Column all mean the same thing!

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

Insurance Dataset: Refer to your book for examples

AirBnb Dataset: This gives us an opportunity to use multiple variables, switch up some code, and do some actual choosing of the best model

In [3]:
df = pd.read_csv('AB_NYC_2019.csv')
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

Notice: NaN means "not a number" or specifically, missing values. This will be a major problem for our analysis. Simple answer for our class: drop NaN's and RESAVE it as the new dataset

In [4]:
df = df.dropna()

LABEL: Which variable are you trying to predict? Example: Which variables predict price and how?

Plug-and-chug the variable into "label" and use this as your "y"

In [5]:
label = "price"    # this will be your response variable. What are you trying to predict? Plug-and-chug

y = df[label]
X = df.select_dtypes(np.number).assign(const=1)  #drop all categorical features and allow y-intercept to vary
X = X.drop(columns=[label])                       # X is capitalized because it represents a matrix of multiple x-columns

model = sm.OLS(y, X)
results = model.fit()

Printing the results will give a better output. This is the only way to actually see the model diagnostics.

In [8]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.038
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     169.9
Date:                Tue, 21 Feb 2023   Prob (F-statistic):          1.80e-317
Time:                        09:01:08   Log-Likelihood:            -2.5943e+05
No. Observations:               38821   AIC:                         5.189e+05
Df Residuals:                   38811   BIC:                         5.190e+05
Df Model:                           9
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
id                             -3.194e-07   1.35e-07     -2.358      0.018   -5.85e-07   -5.39e-08
host_id                         3.222e-08   1.66e-08      1.936      0.053      -4e-10    6.48e-08
latitude                         169.9265     17.935      9.474      0.000     134.773     205.080
longitude                       -701.5653     21.687    -32.350      0.000    -744.072    -659.059
minimum_nights                     0.0018      0.058      0.031      0.975      -0.111       0.115
number_of_reviews                 -0.2125      0.031     -6.816      0.000      -0.274      -0.151
reviews_per_month                  0.6527      0.889      0.734      0.463      -1.090       2.395
calculated_host_listings_count     0.1162      0.039      2.998      0.003       0.040       0.192
availability_365                   0.1532      0.008     18.914      0.000       0.137       0.169
const                          -5.867e+04   1824.233    -32.161      0.000   -6.22e+04   -5.51e+04
==============================================================================
Omnibus:                    93360.028   Durbin-Watson:                   1.919
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       1699384495.988
Skew:                          24.774   Prob(JB):                         0.00
Kurtosis:                    1026.788   Cond. No.                     1.88e+11
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.88e+11. This might indicate that there are
strong multicollinearity or other numerical problems.

PHEW! That's a lot of output. What do we do with it? 

The following diagnostics below tell us something about the model as a whole. We want to COMPARE multiple models and look for the following for the BEST FIT:

    Higher numbers: R-squared, adjust R-squared, F-Statistic, log-likelihood
    Lower numbers: p-value, AIC, BIC

What do we mean to compare multiple models? We are deciding WHICH variables to include in our model. So we START with ALL variables, and remove variables one-by-one until we get a best-fit.

    EASIEST WAY: Remove variables ONE-AT-A-TIME
    P-values: Remove the variable with the highest p-value above 0.05, UNTIL all variables are p<=0.05

KEEP the diagnostics of each of these models and compare R-Sqr, log-likelihood, p-value for F-Statistics, etc.

Minimum_nights has p=0.975, so drop it in the X.drop() function

In [29]:
label = "price"    # this will be your response variable. What are you trying to predict? Plug-and-chug

y = df[label]
X = df.select_dtypes(np.number).assign(const=1)  #drop all categorical features and allow y-intercept to vary
X = X.drop(columns=[label, "minimum_nights"])                       # X is capitalized because it represents a matrix

model = sm.OLS(y, X)
results = model.fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.038
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     191.2
Date:                Mon, 20 Feb 2023   Prob (F-statistic):          1.26e-318
Time:                        14:00:56   Log-Likelihood:            -2.5943e+05
No. Observations:               38821   AIC:                         5.189e+05
Df Residuals:                   38812   BIC:                         5.190e+05
Df Model:                           8
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
id                             -3.196e-07   1.35e-07     -2.361      0.018   -5.85e-07   -5.43e-08
host_id                         3.221e-08   1.66e-08      1.936      0.053   -4.04e-10    6.48e-08
latitude                         169.9432     17.927      9.480      0.000     134.806     205.081
longitude                       -701.5932     21.668    -32.379      0.000    -744.063    -659.123
number_of_reviews                 -0.2125      0.031     -6.826      0.000      -0.274      -0.152
reviews_per_month                  0.6514      0.888      0.734      0.463      -1.089       2.392
calculated_host_listings_count     0.1163      0.039      3.004      0.003       0.040       0.192
availability_365                   0.1532      0.008     19.064      0.000       0.137       0.169
const                          -5.867e+04   1822.099    -32.200      0.000   -6.22e+04   -5.51e+04
==============================================================================
Omnibus:                    93360.564   Durbin-Watson:                   1.919
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       1699462979.809
Skew:                          24.774   Prob(JB):                         0.00
Kurtosis:                    1026.812   Cond. No.                     1.87e+11
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.87e+11. This might indicate that there are
strong multicollinearity or other numerical problems.

Pay attention to any change in the diagnostics. Then drop reviews_per_month, with p=0.463

In [41]:
y = df[label]
X = df.select_dtypes(np.number).assign(const=1)  #drop all categorical features and allow y-intercept to vary
X = X.drop(columns=[label, "minimum_nights", "reviews_per_month"])                       # X is capitalized because it represents a matrix

model = sm.OLS(y, X)
results = model.fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.038
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     218.4
Date:                Mon, 20 Feb 2023   Prob (F-statistic):          1.08e-319
Time:                        15:38:45   Log-Likelihood:            -2.5943e+05
No. Observations:               38821   AIC:                         5.189e+05
Df Residuals:                   38813   BIC:                         5.189e+05
Df Model:                           7
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
id                             -2.736e-07    1.2e-07     -2.281      0.023   -5.09e-07   -3.85e-08
host_id                         3.403e-08   1.65e-08      2.068      0.039    1.77e-09    6.63e-08
latitude                         169.8693     17.927      9.476      0.000     134.732     205.006
longitude                       -700.7083     21.634    -32.389      0.000    -743.112    -658.305
number_of_reviews                 -0.1965      0.022     -8.867      0.000      -0.240      -0.153
calculated_host_listings_count     0.1150      0.039      2.973      0.003       0.039       0.191
availability_365                   0.1535      0.008     19.110      0.000       0.138       0.169
const                           -5.86e+04   1819.736    -32.205      0.000   -6.22e+04    -5.5e+04
==============================================================================
Omnibus:                    93360.930   Durbin-Watson:                   1.919
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       1699615686.594
Skew:                          24.774   Prob(JB):                         0.00
Kurtosis:                    1026.858   Cond. No.                     1.87e+11
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.87e+11. This might indicate that there are
strong multicollinearity or other numerical problems.

You can also view individual diagnostics like aic, bic, etc., below:

In [31]:
results.aic

518880.8424216351

Looks like this last model is our best-fit. Look at all the diagnostics (p-values, etc.) and see if you can tell why this one is the best fit.

Now, in real life, we probably would drop id and host_id as well, as these are just random assigned numbers for each house. BUT if we were to look at the RAW OUTPUT above, we could write a model like this:

price = -0.00000002736id + 0.0000000034host_id + 169.87latitude - 700.7longitude - 0.1965number_of_reviews + 0.115calculated_host_listings_count - 0.0000586

const: intercept, or just a constant

    EXERCISE: Remove id and host_id. How do the diagnostics change? Does the model seem to be a better fit, even if the p-values are below 0.05?

You can check to see how well your model predicts price. 

FITTED VALUES: Take each of your rows and plug in the data for each variable, then see what the model gives you as a price
ACTUAL VALUES: These are the actual values for price for each of those rows

Compare both the fitted and actual values.

In [62]:
df['predicted'] = results.fittedvalues
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,predicted
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,188.732932
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,205.680696
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,108.189774
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,137.914839
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129,158.030354
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48782,36425863,Lovely Privet Bedroom with Privet Restroom,83554966,Rusaa,Manhattan,Upper East Side,40.78099,-73.95366,Private room,129,1,1,2019-07-07,1.00,1,147,158.723512
48790,36427429,No.2 with queen size bed,257683179,Hâ€†Ai,Queens,Flushing,40.75104,-73.81459,Private room,45,1,1,2019-07-07,1.00,6,339,92.150584
48799,36438336,Seas The Moment,211644523,Ben,Staten Island,Great Kills,40.54179,-74.14275,Private room,235,1,1,2019-07-07,1.00,1,87,245.735440
48805,36442252,1B-1B apartment near by Metro,273841667,Blaine,Bronx,Mott Haven,40.80787,-73.92400,Entire home/apt,100,1,2,2019-07-07,2.00,1,40,132.360754
48852,36455809,"Cozy Private Room in Bushwick, Brooklyn",74162901,Christine,Brooklyn,Bushwick,40.69805,-73.92801,Private room,30,1,1,2019-07-08,1.00,1,1,103.929520

Each of the following will get you the column indices

In [71]:
df.columns.get_loc('price')+1    # Because this function does not include the first column
df.columns.get_loc('predicted')+1

17

Use these indices to find the DIFFERENCE between the predicted values and the price

In [73]:
abs(df.price-df.predicted).head(10)

0     39.732932
1     19.319304
3     19.189774
4     57.914839
5     41.969646
6     59.479672
7     32.922777
8     54.335930
9      5.484981
10    11.016469
dtype: float64

In [69]:
diff = []
for row in df.itertuples(): # .itertuples() returns an indexable list of the row values
    diff.append(abs(row[17]-row[10]))
    
df['diff'] = diff
df[['price', 'predicted', 'diff']].head(10)

    price   predicted       diff
0     149  188.732932  39.732932
1     225  205.680696  19.319304
3      89  108.189774  19.189774
4      80  137.914839  57.914839
5     200  158.030354  41.969646
6      60  119.479672  59.479672
7      79  111.922777  32.922777
8      79  133.335930  54.335930
9     150  155.484981   5.484981
10    135  146.016469  11.016469