In [26]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.3f' % x)  # Use this to suppress scientific notation

df = pd.read_csv('london_weather.csv')
df.sort_values(by=['date'], inplace=True)
print(df.dtypes)
df.head()

date                  int64
cloud_cover         float64
sunshine            float64
global_radiation    float64
max_temp            float64
mean_temp           float64
min_temp            float64
precipitation       float64
pressure            float64
snow_depth          float64
dtype: object

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.000,7.000,52.000,2.300,-4.100,-7.500,0.400,101900.000,9.000
1,19790102,6.000,1.700,27.000,1.600,-2.600,-7.500,0.000,102530.000,8.000
2,19790103,5.000,0.000,13.000,1.300,-2.800,-7.200,0.000,102050.000,4.000
3,19790104,8.000,0.000,13.000,-0.300,-2.600,-6.500,0.000,100840.000,2.000
4,19790105,6.000,2.000,29.000,5.600,-0.800,-1.400,0.000,102250.000,1.000

In [27]:
df.tail()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
15336,20201227,1.000,0.900,32.000,7.500,7.500,7.600,2.000,98000.000,NaN
15337,20201228,7.000,3.700,38.000,3.600,1.100,-1.300,0.200,97370.000,NaN
15338,20201229,7.000,0.000,21.000,4.100,2.600,1.100,0.000,98830.000,NaN
15339,20201230,6.000,0.400,22.000,5.600,2.700,-0.100,0.000,100200.000,NaN
15340,20201231,7.000,1.300,34.000,1.500,-0.800,-3.100,0.000,100500.000,NaN

In [28]:
df.date = pd.to_datetime(df.date, format='%Y%m%d')
df.dtypes

date                datetime64[ns]
cloud_cover                float64
sunshine                   float64
global_radiation           float64
max_temp                   float64
mean_temp                  float64
min_temp                   float64
precipitation              float64
pressure                   float64
snow_depth                 float64
dtype: object

In [29]:
df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,1979-01-01,2.000,7.000,52.000,2.300,-4.100,-7.500,0.400,101900.000,9.000
1,1979-01-02,6.000,1.700,27.000,1.600,-2.600,-7.500,0.000,102530.000,8.000
2,1979-01-03,5.000,0.000,13.000,1.300,-2.800,-7.200,0.000,102050.000,4.000
3,1979-01-04,8.000,0.000,13.000,-0.300,-2.600,-6.500,0.000,100840.000,2.000
4,1979-01-05,6.000,2.000,29.000,5.600,-0.800,-1.400,0.000,102250.000,1.000

In [30]:
df.index = pd.DatetimeIndex(df.date).to_period('M')
df_agg = df.groupby(pd.Grouper(freq="M")).agg({'cloud_cover':'mean',
                                               'sunshine':'mean',
                                               'global_radiation':'mean',
                                               'max_temp':'max',
                                               'mean_temp':'mean',
                                               'min_temp':'min',
                                               'precipitation':'sum',
                                               'pressure':'mean',
                                               'snow_depth':'sum'})
df_agg

,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
date,,,,,,,,,
1979-01,5.724,1.887,29.032,9.100,0.616,-7.500,59.900,101214.839,42.000
1979-02,6.360,1.889,45.214,9.700,2.043,-4.100,44.000,101163.929,3.000
1979-03,5.968,3.213,93.355,15.300,5.587,-3.000,94.900,100459.032,1.000
1979-04,6.133,3.543,134.167,22.400,8.743,-1.700,77.600,101165.333,0.000
1979-05,5.290,6.471,204.065,26.200,11.490,-0.900,87.000,101362.581,0.000
...,...,...,...,...,...,...,...,...,...
2020-08,5.000,6.135,210.742,36.500,20.393,8.100,56.200,101224.194,0.000
2020-09,4.200,6.540,170.000,29.600,16.617,6.500,19.200,101695.000,0.000
2020-10,5.774,1.887,72.516,18.900,11.933,4.900,143.600,100804.516,0.000
2020-11,5.933,1.717,43.167,17.200,9.807,-0.600,49.800,101939.000,0.000
2020-12,5.467,1.426,27.968,14.000,6.232,-3.100,72.400,100303.871,0.000

In [ ]:
df.index = pd.DatetimeIndex(df.date).to_period('Y')
df_year = df.groupby(pd.Grouper(freq="Y")).agg({'cloud_cover':'mean',
                                               'sunshine':'mean',
                                               'global_radiation':'mean',
                                               'max_temp':'max',
                                               'mean_temp':'mean',
                                               'min_temp':'min',
                                               'precipitation':'sum',
                                               'pressure':'mean',
                                               'snow_depth':'sum'})
df_year