Import the student_enrollment_clean.csv datafile into a Pandas DataFrame and print out the first five rows.

In [10]:
# Question 1:
import pandas as pd
df = pd.read_csv('student_enrollment_clean.csv')
df.head()

,EXPECTED_START_DATE,GRADUATION_DATE,ENROLL_COUNT,NUMBER_AVERAGE,HOURS_ATTEMPTED,HOURS_EARNED,AR_BALANCE_AMOUNT,DAYS_ABSENT,REENTRY_NUMBER,PROGRAM_GROUP,...,CREDITS_LEFT,ENROLLMENT_COUNT,MODS_ATTENDED_COUNT,HS_GRADUATED_FLAG,DISABLED_FLAG,HISPANIC_FLAG,VETERAN_FLAG,STATUS_DESCRIPTION,IN_SCHOOL_FLAG,SIMPLE_STATUS_DESCRIPTION
0,6/22/2020,6/23/2020,1,78.962963,450.0,450.0,0.0,0,0,BUBUD,...,-0.5,2,38,0,0,0,0,Graduate,0,Terminated
1,6/22/2020,12/19/2021,1,0.000000,0.0,0.0,0.0,0,0,MSMAA,...,95.0,1,0,0,0,1,0,No Show,0,Terminated
2,6/22/2020,10/24/2021,1,98.100000,710.0,710.0,2567.0,0,0,MSMAA,...,35.0,1,16,0,0,0,0,Active,1,Active
3,6/22/2020,6/27/2020,1,0.000000,0.0,0.0,0.0,0,0,CSISM,...,60.0,1,0,0,0,0,0,Cancel,0,Terminated
4,6/22/2020,7/14/2020,1,0.000000,0.0,0.0,0.0,0,0,MSMAA,...,95.0,1,0,0,0,0,0,False Start,0,Terminated

There are many students in this dataset who haven't even attempted a class yet. Let's remove them entirely. Remove any record where CREDITS_ATTEMPTED = 0.

In [11]:
# Question 2:

# Remove records where CREDITS_ATTEMPTED equals 0
df = df[df['CREDITS_ATTEMPTED'] > 0]

Calculate the skewness of all numeric features and print out the list of features and skewness scores. Do this for all numeric features. For the sake of this problem, do not worry about whether the features are binary, discrete, or continuous.

In [12]:
# Question 3:

skewness = df.skew(numeric_only=True)
print("Feature Skewness:")
print(skewness)

Feature Skewness:
ENROLL_COUNT            0.000000
NUMBER_AVERAGE         -1.726315
HOURS_ATTEMPTED         1.045581
HOURS_EARNED            1.135566
AR_BALANCE_AMOUNT       2.187253
DAYS_ABSENT             0.000000
REENTRY_NUMBER         57.358519
MOD_NUMBER             -0.454152
COHORT_YEAR            -0.857963
AR_BALANCE              2.604964
ENROLLMENT_GPA         -0.796856
CREDITS_ATTEMPTED       1.087307
CREDITS_EARNED          1.163496
CREDITS_REQUIRED       -1.062140
CREDITS_LEFT           -0.402585
ENROLLMENT_COUNT        2.036896
MODS_ATTENDED_COUNT     1.337531
HS_GRADUATED_FLAG       0.000000
DISABLED_FLAG          99.378066
HISPANIC_FLAG           2.655121
VETERAN_FLAG            4.729798
IN_SCHOOL_FLAG         -0.579926
dtype: float64

Calculate the number of outliers in each column based on the appropriate rule. Print a table that includes: Name of the column, min threshold, the count below the min threshold, max threshold, count above max threshold

In [13]:
# Question 4:


# Define a function to calculate outliers for numeric columns
def calculate_outliers(df):
    outlier_data = []
    for column in df.select_dtypes(include='number').columns:
        desc = df[column].describe()
        Q1 = desc['25%']
        Q3 = desc['75%']  
        IQR = Q3 - Q1
        min_threshold = Q1 - 1.5 * IQR
        max_threshold = Q3 + 1.5 * IQR
        count_below = (df[column] < min_threshold).sum()
        count_above = (df[column] > max_threshold).sum()
        outlier_data.append([column, min_threshold, count_below, max_threshold, count_above])
    return pd.DataFrame(outlier_data, columns=["Column", "Min Threshold", "Count Below", "Max Threshold", "Count Above"])
outlier_table = calculate_outliers(df)
print(outlier_table)

                 Column  Min Threshold  Count Below  Max Threshold  \
0          ENROLL_COUNT       1.000000            0         1.0000
1        NUMBER_AVERAGE      34.666668          905       128.0000
2       HOURS_ATTEMPTED    -882.500000            0      1921.5000
3          HOURS_EARNED    -885.875000            0      1775.1250
4     AR_BALANCE_AMOUNT   -6210.000000           16     10350.0000
5           DAYS_ABSENT       0.000000            0         0.0000
6        REENTRY_NUMBER       0.000000            0         0.0000
7            MOD_NUMBER      -9.000000            0        23.0000
8           COHORT_YEAR    2021.000000            0      2029.0000
9            AR_BALANCE   -7820.092500           19     14296.3475
10       ENROLLMENT_GPA      -0.020000            0         5.9800
11    CREDITS_ATTEMPTED     -76.187500            0       180.3125
12       CREDITS_EARNED     -77.250000            0       168.7500
13     CREDITS_REQUIRED     -33.250000            0       308.7500
14         CREDITS_LEFT     -77.500000            0       302.5000
15     ENROLLMENT_COUNT      -0.500000            0         3.5000
16  MODS_ATTENDED_COUNT     -21.500000            0        54.5000
17    HS_GRADUATED_FLAG       0.000000            0         0.0000
18        DISABLED_FLAG       0.000000            0         0.0000
19        HISPANIC_FLAG       0.000000            0         0.0000
20         VETERAN_FLAG       0.000000            0         0.0000
21       IN_SCHOOL_FLAG      -1.500000            0         2.5000

    Count Above
0             0
1             0
2            69
3           164
4           245
5             0
6             3
7             0
8             0
9           282
10            0
11           74
12          141
13            0
14            0
15          602
16          178
17            0
18            1
19          994
20          390
21            0

Replace each outlier value with the appropriate max or min threshold value for that feature. Print the skewness of all features. 

HINT: If you are feeling overwhelmed by this problem, take a look at the practice problems in this chapter

In [14]:
# Question 5:
def cap_outliers(df):
    for column in df.select_dtypes(include='number').columns:
        desc = df[column].describe()
        Q1 = desc['25%']
        Q3 = desc['75%']
        IQR = Q3 - Q1
        min_threshold = Q1 - 1.5 * IQR
        max_threshold = Q3 + 1.5 * IQR
        df[column] = df[column].clip(lower=min_threshold, upper=max_threshold)
    return df
df = cap_outliers(df)
skewness_after = df.skew(numeric_only=True)
print("Skewness after capping outliers:")
print(skewness_after)

Skewness after capping outliers:
ENROLL_COUNT           0.000000
NUMBER_AVERAGE        -0.978329
HOURS_ATTEMPTED        1.018268
HOURS_EARNED           1.085094
AR_BALANCE_AMOUNT      0.997068
DAYS_ABSENT            0.000000
REENTRY_NUMBER         0.000000
MOD_NUMBER            -0.454152
COHORT_YEAR           -0.857963
AR_BALANCE             0.946565
ENROLLMENT_GPA        -0.796856
CREDITS_ATTEMPTED      1.067623
CREDITS_EARNED         1.131756
CREDITS_REQUIRED      -1.062140
CREDITS_LEFT          -0.402585
ENROLLMENT_COUNT       0.606092
MODS_ATTENDED_COUNT    1.095293
HS_GRADUATED_FLAG      0.000000
DISABLED_FLAG          0.000000
HISPANIC_FLAG          0.000000
VETERAN_FLAG           0.000000
IN_SCHOOL_FLAG        -0.579926
dtype: float64

Nice job! By making this adjustment, your data is in better shape for modeling and prediction.