Python can do all sorts of stuff! However, you only have a basic group of functions, commands, and code that you can use at your disposal. Therefore, there are MULTIPLE packages that have been written over the years and used for various types of analysis and calculations. To use dataframes, we will want to use the package called "pandas."

In [5]:
# Install a package (if needed)
# Visual Studio Code should have a number of packages already installed, but if not, you can install any of them this way!

! pip install pandas

Requirement already satisfied: pandas in c:\python311\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\python311\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kotori\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\kotori\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

DEPRECATION: Loading egg at c:\python311\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation. Discussion can be found at https://github.com/pypa/pip/issues/12330

In [6]:
# Once a package is installed, you do NOT have to install it again on your computer.
# HOWEVER, you DO have to tell Python to use that package whenever you open a new file
# This means, you have to "import" the package into this file so you can use all the code in that package

import pandas

Since there's SO MUCH CODE that could be used between multiple packages, you will ALSO need to tell Python whenever you are using a function or command FROM THAT PACKAGE.

This means, you will have to write pandas.DataFrame(...) for any function in that package. Writing "pandas" over and over again is not only tedious, but can easily cause typo's--which are even worse. So, we can abbreviate "pandas" to something shorter--just give it any abbreviation that works for both you and Python.

In [7]:
# Abbreviate pandas into something you can write over and over again in your code by writing "as"
# In this example, we abbreviate "pandas" as "pd", a commonly used abbreviation

import pandas as pd

As a sidenote, some other packages you may commonly see are matplotlib and numpy.

Numpy is often abbreviated "np"

In [8]:
# create dictionary of test scores
test_dict = {'Corey':[63,75,88], 'Kevin':[48,98,92], 'Akshay':[87,86,85]}
print(test_dict)

df = pd.DataFrame(test_dict)
df

{'Corey': [63, 75, 88], 'Kevin': [48, 98, 92], 'Akshay': [87, 86, 85]}

   Corey  Kevin  Akshay
0     63     48      87
1     75     98      86
2     88     92      85

*Can you distinguish when we are pulling from the numpy package and the pandas package?*

In [19]:
import numpy as np

# Create new DataFrame of one row 
df_new = pd.DataFrame({'Quiz_1':[np.NaN], 'Quiz_2':[np.NaN], 'Quiz_3': [np.NaN], 'Quiz_4':[71]}, index=['Adrian'])

# Concatenate DataFrames 
df = pd.concat([df, df_new])

df

        Quiz_1  Quiz_2  Quiz_3  Quiz_4
Corey     63.0    75.0    88.0      92
Kevin     48.0    98.0    92.0      95
Akshay    87.0    86.0    85.0      88
Adrian     NaN     NaN     NaN      71